<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/CSS/checkout.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/profile/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>結帳</title>
</head>

<body>
    <header>
    </header>
    


    <script src="../js/api/chatroom.js"></script>
    <script src="../js/api/user.js"></script>
    <script src="../js/chatusers.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/profile.js"></script>
</body>

</html>